<widget id="com.example.hello" version="0.0.1">
        <name>InstallersMate</name>
        <description>
            installersMate enables Ferroli installers to make Gas Safe notifiations easily and for free
        </description>
        <author email="joe@sansfrontiere.co.uk" href="http://www.sansfrontiere.co.uk">
            Joe Aliferis
        </author>
        <content src="index.html" />
        <access origin="*" />
        <preference name="Fullscreen" value="true" />
        <preference name="WebViewBounce" value="true" />
    </widget>
