<?xml version="1.0" encoding="UTF-8"?>
	<widget xmlns = "http://www.w3.org/ns/widgets"
		xmlns:gap = "http://phonegap.com/ns/1.0"
		id        = "ferroli.installersmate"
		versionCode=""
		version   = "1.0">
		<name>Installersmate</name>
		<description>
If you are a Gas Safe registered professional you can sign up today and start saving money with our free Gas Safe Notification service, enter our competitions and take advantage of our exclusive special offers. A great boiler depends on a great installer so let’s get together		</description>
		<author href="" email="">

		</author>
		<preference name="phonegap-version" value="cli-6.5.0" />
		<preference name="orientation" value="default" />
		<preference name="fullscreen" value="false" />
		<preference name="target-device" value="universal" />
		<preference name="webviewbounce" value="true" />
		<preference name="prerendered-icon" value="true" />
		<preference name="stay-in-webview" value="true" />
		<preference name="ios-statusbarstyle" value="default" />
		<preference name="detect-data-types" value="true" />
		<preference name="exit-on-suspend" value="false" />
		<preference name="show-splash-screen-spinner" value="true" />
		<preference name="auto-hide-splash-screen" value="true" />
		<preference name="EnableViewportScale" value="true" />
		<preference name="MediaPlaybackRequiresUserAction" value="true" />
		<preference name="AllowInlineMediaPlayback" value="false" />
		<preference name="BackupWebStorage" value="cloud" />
		<preference name="TopActivityIndicator" value="gray" />
		<preference name="KeyboardDisplayRequiresUserAction" value="false" />
		<preference name="HideKeyboardFormAccessoryBar" value="false" />
		<preference name="SuppressesIncrementalRendering" value="false" />
		<preference name="android-minSdkVersion" value="7" />
		<preference name="android-installLocation" value="internalOnly" />
		<preference name="SplashScreenDelay" value="5000" />
		<preference name="ErrorUrl" value=""/>
		<preference name="BackgroundColor" value="0x000000"/>
		<preference name="KeepRunning" value="true"/>
		<preference name="DisallowOverscroll" value="false"/>
		<preference name="LoadingDialog" value=","/> 
		<preference name="LoadUrlTimeoutValue" value="20000" />
		<preference name="disable-cursor" value="false" />
		<gap:platform name="ios" />
		<gap:platform name="android" />
		<gap:platform name="winphone" />
<plugin name="cordova-plugin-battery-status" spec="~2.0.1" />
<plugin name="cordova-plugin-camera" spec="~4.0.2" />
<plugin name="cordova-plugin-console" spec="~1.1.0" />
<plugin name="cordova-plugin-contacts" spec="~3.0.1" />
<plugin name="cordova-plugin-device" spec="~2.0.1" />
<plugin name="cordova-plugin-device-motion" spec="~2.0.0" />
<plugin name="cordova-plugin-device-orientation" spec="~2.0.0" />
<plugin name="cordova-plugin-dialogs" spec="~2.0.1" />
<plugin name="cordova-plugin-file" spec="~6.0.1" />
<plugin name="cordova-plugin-file-transfer" spec="~1.7.1" />
<plugin name="cordova-plugin-geolocation" spec="~4.0.1" />
<plugin name="cordova-plugin-globalization" spec="~1.0.9" />
<plugin name="cordova-plugin-inappbrowser" spec="~2.0.2" />
<plugin name="cordova-plugin-media" spec="~5.0.2" />
<plugin name="cordova-plugin-media-capture" spec="~3.0.1" />
<plugin name="cordova-plugin-network-information" spec="~2.0.1" />
<plugin name="cordova-plugin-splashscreen" spec="~5.0.2" />
<plugin name="cordova-plugin-vibration" spec="~3.0.1" />
<plugin name="cordova-plugin-statusbar" spec="~2.4.1" />
<plugin name="cordova-plugin-whitelist" spec="~1.3.3" />
	</widget>
